# python
*__pycache__*
*.pytest_cache*
.venv/

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# log files
*.log

# datasets and models
data/
!data/*.py
models/
!models/*.py
